.background {
	background-color: #031e37;
	width: 400px;
	height: 450px;
}

.p-3 {
	padding: 3rem 3rem 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-container {
	display: flex;
	justify-content: center;
	color: #fff;
}

h5 {
	margin-bottom: 0;
}
