<mat-toolbar class="background">
	<span>Logo Here</span>
	<span class="example-spacer"></span>
	<button class="auth-btn" mat-button>Login</button>
	<button class="auth-btn" mat-flat-button>Sign up</button>
</mat-toolbar>
<div class="all-container">
	<div class="side-bar">
		<mat-drawer-container class="example-container" autosize>
			<mat-drawer #drawer class="example-sidenav" mode="side">
				<p>Auto-resizing sidenav</p>
				@if (showFiller) {
					<p>Lorem, ipsum dolor sit amet consectetur.</p>
				}
				<button (click)="showFiller = !showFiller" mat-raised-button>
					Toggle extra text
				</button>
			</mat-drawer>
		</mat-drawer-container>
	</div>
	<div>
		<router-outlet />
	</div>
</div>
