<div class="background">
	<div class="spinner">
		<div class="canvas__container">
			<img
				class="spin__btn btn-text"
				src="https://game.albetros.com/assets/images/btn_luckspin.c9fdbf75.png"
			/>
			<img
				class="spin__btn"
				src="https://game.albetros.com/assets/images/spin_center1.47d8700e.png"
			/>

			<div *ngFor="let item of items">
				<span
					class="spin-item"
					style="opacity: 1; height: 24px"
					[style.transform]="'rotate(' + item.deg + 'deg)'"
				>
					<p [innerHTML]="item.text"></p>
				</span>
			</div>
		</div>
		<div class="point-img">
			<img
				src="https://game.albetros.com/assets/images/point_bronze.0d249168.png"
			/>
		</div>
	</div>
	<div class="spin_button--contaner">
		<button mat-flat-button (click)="spin()">Lucky Spin</button>
	</div>
</div>
