<div class="background">
	<div class="spinner">
		<div class="canvas__container">
			<div class="spin__btn"></div>
			<img class="btn-text" src="assets/logo_3d.png" />
			<div class="spin-item__container">
				<div *ngFor="let item of items">
					<span
						class="spin-item"
						style="opacity: 1; height: 24px"
						[style.transform]="'rotate(' + item.deg + 'deg)'"
					>
						<p [innerHTML]="item.text"></p>
					</span>
				</div>
			</div>
		</div>
		<div class="point-img">
			<img
				src="https://game.albetros.com/assets/images/point_bronze.0d249168.png"
			/>
		</div>
	</div>
	<div class="spin_button--contaner">
		<button mat-flat-button (click)="spin()">Lucky Spin</button>
	</div>
</div>
